@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', 'sans-serif';
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3ed8ff  , #a8f5ff  );
}

.inner-box{
    width: 350px;
    margin: 0 auto;
    position: relative;
    top: 25vh;
    background-color: #ffffff66;
    /* backdrop-filter:blur(10px) ; */
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px #3498db;
    z-index: 2;
}

.box-header h1{
    font-size: 2.5rem;
    color: #212121;
}

.box-header p{
    font-size: 0.9rem;
    color: #555;
    margin-top: 7px;
}



.box-body{
    margin-top: 20px;
}

.box-body p{
    margin: 10px 0;
}

.box-body p label{
    display: block;
    font-weight: bold;
    font-size: large;
}

.box-body p input{
    width: 100%;
    font-size: 1rem;
    border: 2px solid #cccc;
    border-radius: 4px;
    margin-top: 4px;
    padding: 7px;
}

.box-body form p input[type="button"]{
    background-color: #3498db;
    border: none;
    color: white;
    cursor: pointer;
}

.box-body form p input[type="button"]:hover{
    background-color:#2570a2 ;
}


.box-footer p  {
    text-align: center;
    color: #555;
}

.box-footer p a{
    color:#3498db ;
}



.cricle{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background:linear-gradient(to right, #ffffff33, #ffffffee) ;
    position: absolute;
}

.c1{
    top: 120px;
    left: 50px;
}

.c2{
    bottom: 80px;
    right: 50px;
}